doctype html
html(lang=page.lang)
	head
		meta(charset='utf-8')
		title #{page.title} - Saving Time
		meta(name='includes', content='Yannick Domenjoud')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:site_name', content='Saving Time')
		meta(property='og:image', content='undefined')
		link(rel='alternate', href='/atom.xml', title='Saving Time', type='application/atom+xml')
		link(rel='stylesheet', href='/#{template_directory}/css/style.css', media='screen', type='text/css')
		//if lt IE 9
			script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		header#header
			.meta.inner
				h1
					a(href='/') Saving Time
				h2
					a(href='/') Do not reinvent the wheel
				nav#main-nav
					ul
						li
							//a(href='/about') About
						li
							//a(href='/archives') Archives
						li
							//a(href='/atom.xml') RSS
					.clearfix
			.clearfix
		#content.inner
			#main-col.alignleft
				#wrapper
					block content
					nav#pagination
						.clearfix

			aside#sidebar.alignright
				.search
					form(action='//google.com/search', method='get', accept-charset='utf-8')
						input(type='search', name='q', results='0', placeholder='Recherche')
						input(type='hidden', name='q', value='site:savingti.me')
				.widget.tag
					h3.title Derniers posts
					ul.entry
						each post in pages_list
							li: a(href=post.url)=post.title
			.clearfix
		footer#footer.inner
			.alignleft  &copy; 2016 Saving Time
			.clearfix
